<UL>
   <li>
    <a routerLink="/" routerLinkActive = "active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  <li>
    <a routerLink="/class.component" routerLinkActive = "active">class</a>
  </li>
  <li>
    <a routerLink="/reactive.component" routerLinkActive = "active">reactive</a>
  </li>
  <li>
    <ul>
      <li routerLinkActive = "active" ><a routerLink='cards/jointcard'>聯名卡</a></li>
      <li routerLinkActive = "active" ><a routerLink='cards/jointcard'>愛心卡</a></li>
      <li routerLinkActive = "active" ><a routerLink='cards/jointcard'>沒用卡</a></li>
    </ul>
  </li>
</UL>
<div>
  <router-outlet></router-outlet>
</div>
